
.dashboard {
  background-color: #36465d;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;

  .post-index {
    color: white;
  }

  .dashboard-header {
    border-bottom: 1px solid hsla(0,0%,100%,.13);
  }

}
