
.dashboard {
  background-color: #36465d;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  strong {
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 12px;
  }

  .main-content {
    display: flex;
  }

  .dashboard-header {
    border-bottom: 1px solid hsla(0,0%,100%,.13);
  }

  .user-img {
    height: 64px;
    width: 64px;
    display: block;
    border-radius: 3px;
  }

  .rec-img {
    height: 37px;
    width: 37px;
    display: block;
    border-radius: 3px;
  }

  .user-bar {
    display: flex;
    margin-top: 37px;

    .post-button:hover {

      .fa {
        position: relative;
        top: -4px;
      }
    }


    .post-buttons {
      display: flex;
      flex-direction: row;
      background-color: white;
      padding: 0 1px 0 7px;
      margin-left: 20px;
      border-radius: 3px;

      .fa {
        margin-bottom: 4px;
        font-size: 36px;
        padding-right: 20px;
      }


      .text-icon {
        color: #444;
      }

      .photo-icon {
        color: #d95e40;
      }

      .quote-icon {
        color: #f2992e;
      }

      .link-icon {
        color: #56bc8a;
      }

      .chat-icon {
        color: #529ecc;
      }

      .audio-icon {
        color: #a77dc2;
      }

      .video-icon {
        color: #748089;
      }

      p {
        color: #696969;
        font-size: 15px;
      }

      .post-button {
        padding: 19px 6px 19px 16px;
        cursor: pointer;
      }

      .inside-button {
        border-right: 1px solid #F2F1F1;
      }

      .post_button:last-child {
        border-right: none;
      }
    }
  }

}
