.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  color: #444;
  min-height: 200px;
  width: 500px;

  .hidden {
    display: none;
  }


  strong {
    font-weight: bold;
    font-size: 13px;
    padding: 13px 20px 12px 20px;
  }

  .title {
    font-size: 36px;
    padding: 13px 20px 0px 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    textarea {
      height: 100px;
      width: 100%;
      font-size: 14px;
      padding: 15px 20px 12px 20px;
    }


    .form-buttons {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #F2F1F1;
      padding: 15px 20px 12px 20px;

      button:disabled {
        color: hsla(0,0%,100%,.5);
        cursor: default;
      }

      button {
        font-size: 13px;
        color: white;
        font-weight: 500;
        border-radius: 2px;
        padding: 6px 9px;
      }

      .close {
        background-color: #9da6af;
      }

      .post {
        background-color: #529ecc;
      }
    }
  }
}

.form-quote {

  .title-container{
    display: flex;
    padding: 13px 20px 0px 20px;

    input {
      font-size: 48px;
      width: 375px;
    }

    p {
      font-size: 48px;
      color: #726969;
    }
  }

  .body-container {
    display: flex;
    padding: 15px 20px 12px 20px;

    textarea {
      padding: 0 0 0 5px;
    }

    p {
      padding-right: 5px;
    }
  }
}

strong {
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 12px;
}

.media-file-input {
  height: 190px;
  width: 100%;
  background-color: rgb(242, 242, 242);
  border-top: 2px dashed #D6D6D6;
  border-bottom: 2px dashed #D6D6D6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .fa {
    font-size: 36px;
  }

  i {
    color: rgb(152, 152, 152);
    padding-left: 66px;
    padding-bottom: 7px;
  }

  .fa-headphones {
    padding-left: 89px;
  }
}

.preview {

  .preview-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-height: 300px;
    object-fit: contain;
  }

  video {
    max-height: 300px;
    object-fit: contain;
  }
}
