.post-index {
  color: white;
  margin-top: 20px;

  .post-container {
    display: flex;
  }

  .post {
    background-color: white;
    color: black;
    margin-bottom: 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 554px;

    .post-title {
      font-size: 36px;
      padding-bottom: 8px;
    }

    p {
      font-size: 14px;
    }

    .chat-content {
      padding: 6px 20px 12px 20px;

      .chat-line {
        display: flex;

        strong {
          margin-right: 5px;
        }
      }
    }

    .quote-title {
      font-size: 36px;
      font-family: georgia, serif;
      padding-bottom: 6px;
    }

    .username {
      cursor: pointer;
    }

    .follow-dropdown:hover .user-dropdown{
        display: block
    }

    .follow-dropdown {
      position: relative;
      padding: 13px 20px 12px 20px;
      width: 100px;

      .user-dropdown {
        position: absolute;
        display: none;
        background-color: white;
        width: 280px;
        top: 37px;
        left: -84px;
        border-radius: 3px;
        z-index: 5;


        .user-dropdown-content {
          display: flex;
          flex-direction: column;

          img {
            padding-left: 100px;
            padding-bottom: 10px;
          }


          .user-dropdown-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px 5px 10px
          }

          strong {
            color: #529ecc;
            padding-top: 10px;
          }

          .unfollow {
            font-size: 13px;
            color: white;
            font-weight: bold;
            padding: 5px 7px 7px 4px;
            background-color: #529ecc;
            border-radius: 2px;
          }

        }
      }
    }

    .cog-icon {
      color: #8f8f8f;
      height: 24px;
      width: 24px;
      font-size: 24px;
      cursor: pointer;
      text-align: right;
      padding-top: 12px;
    }

    .dropdown-container {
      display: flex;
      justify-content: flex-end;
      position: relative;
      padding: 0px 20px 12px 20px;
    }

    .dropdown {
      position: absolute;
      display: block;
      top: 56px;
      right: -34px;
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 1px solid #F2F1F1;
      border-radius: 3px;
      padding: 4px 0;
      box-shadow: inset 0 1px 0 hsla(0,0%,100%,.75);


      li {
        padding: 5px 75px 5px 14px;
        cursor: pointer;

        button {
          font-size: 14px;
        }
      }

      li:hover {
        background-color: #DFE9FA;
      }
    }

    .hidden {
      display: none;
    }

    .post-text-content {
      padding: 6px 20px 12px 20px;
      display: flex;
      flex-direction: column;
    }

    .media-content {
      padding-bottom: 6px;
      display: flex;
      align-items: center;
      justify-content: center;

      img, video {
        object-fit: contain
      }
    }

  }

}
