.post-index {
  color: white;
  margin-top: 20px;

  .post-container {
    display: flex;
  }

  .post {
    background-color: white;
    color: black;
    margin-bottom: 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 15px;
    width: 523px;
  }

}
