.husky {
  background-image: url('https://images.pexels.com/photos/434090/pexels-photo-434090.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.cup {
  background-image: url('https://images.pexels.com/photos/39317/chihuahua-dog-puppy-cute-39317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350');
}

.labs {
  background-image: url('https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.scenery {
  background-image: url('https://images.pexels.com/photos/247522/pexels-photo-247522.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350');
}

.water {
  background-image: url('https://images.pexels.com/photos/160740/dogs-yellow-labrador-retriever-animal-golden-160740.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350');
}

.yorkie {
  background-image: url('https://images.pexels.com/photos/163685/dog-puppy-yorkshire-terrier-yorkshire-terrier-puppy-163685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350');
}
